---
layout: default
title: Peg Solitaire
section: applications
---

<section id="pegSolitaire" ng-app="pegApp" ng-controller="PegController">
  <div class="submenu">
    <ul>
      <li>
        <i class="icon-off"></i>
        <button type="button" 
                class="btn btn-link"
                ng-click="startGame()">
          New Game
        </button>
      </li>
      <li>
        <i class="icon-ccw"></i>
        <button type="button" 
                class="btn btn-link {(g.undoDisabled)}"
                ng-click="undo()">
          Undo
        </button>
      </li>
      <li>
        <i class="icon-cw"></i>
        <button type="button" 
                class="btn btn-link {(g.redoDisabled)}"
                ng-click="redo()">
          Redo
        </button>
      </li>
      <li>
        <i class="icon-eye-1 {(g.rulesToggleDisabled)}"></i>
        <button type="button" 
                class="btn btn-link {(g.rulesToggleDisabled)}"
                ng-click="toggleRules()">
          {(g.rulesToggle)}
        </button>
      </li>
    </ul>
  </div>
  <div id="page-header">
    <h2>Peg Solitaire</h2>
  </div>

<div class="container instructions {(g.showRules)}">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="row">
        The object of Peg Solitaire is to clear the board, leaving only a single peg.
      </div>
      <div class="row">
        <h4>Rules</h4>
      </div>
      <div class="row">
        <div class="col-sm-8" >
          <p>There are only a few rules in the game:</p>
          <ul>
            <li>You move by jumping one peg over another.</li>
            <li>The peg doing the jumping has to land in an empty space.  
            It can only land in a yellow space.  The red spaces are out of bounds.</li>
            <li>The peg that gets jumped over is removed from the board.</li>
            <li>The game is over when there is only one peg left, or you can
            no longer make a move.</li>
          </ul>
        </div>
        <div class="col-sm-4" >
          <img src="../images/applications/pegBoard.jpg" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <h4>Legal Moves</h4>
        <p>You are allowed to move up or down or left or right.  You are not allowed
          to move diagonally.  The legal moves are shown below.</p>
      </div>
      <div class="row">
        <div class="col-sm-3" >
          <img src="../images/applications/pegE.jpg" class="img-responsive">
        </div>
        <div class="col-sm-3" >
          <img src="../images/applications/pegN.jpg" class="img-responsive">
        </div>
        <div class="col-sm-3" >
          <img src="../images/applications/pegS.jpg" class="img-responsive">
        </div>
        <div class="col-sm-3" >
          <img src="../images/applications/pegW.jpg" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <h4>How to Play</h4>
        Click on the peg you want to move.
        <ul>
          <li>If the peg can only jump to one possible space, the computer will 
          make the jump for you.</li>
          <li>If the peg can jump to two or more possible spaces, the peg will
            turn green.  Click to indicate where you want the peg to jump to.</li>
          <li>If the peg cannot make a legal move, it will turn red for a couple
            seconds to indicate that it is unable to move.</li>
        </ul>
        <h4>Undo and Redo</h4>
        <p>At any time, you can click the Undo button to undo your last move.  You 
        can continue selecting undo, and your moves will be reversed, one move 
        at a time.</p>
        <p>If you undo a move, you can click the Redo button to restore the move you
        undid.  When you click the board to move another peg, the redo option goes
        away until the next time you undo a move.</p>
        <h4>Strategies for Winning</h4>
        <p>Although quite simple to play, Peg Solitaire can be very difficult to win.
        Here are some websites that discuss strategies for solving this puzzle:</p>
        <ul>
          <li><a href="http://en.wikipedia.org/wiki/Peg_solitaire" target="_blank">
          Wikipedia</a></li>
          <li><a href="http://www.wikihow.com/Win-the-Peg-Solitaire-Game-(English-Board)" target="_blank">
          WikiHow</a></li>
          <li><a href="http://www.chessandpoker.com/peg-solitaire-solution.html" target="_blank">
          Chess and Poker DotCom</a></li>
          <li><a href="http://www.mathematische-basteleien.de/solitaire.htm" target="_blank">
          Jurgen Koller's Mathematical Handicrafts</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <div id="board">
    <div id="score" class="{(g.showScore)}">
      <ul>
        <li>Possible moves this turn: {(g.ttlPossibleMoves)}</li>
        <li>Pegs remaining on board:  {(g.pegsRemaining)}</li>
      </ul>
    </div>
    <div id="gameOver" class="{(g.showScore)}">
      <ul>
        <li class="{(g.showGameOver)}">GAME OVER</li>
      </ul>
    </div>
    <div class="{(position.class)} {(position.cursor)}"
         ng-repeat="position in g.positions"
         ng-click="pickPosition($index)"> 
      <img src="../images/applications/{(position.image)}"
           class="img-responsive">
    </div>
  </div>

</section>