
.icon-music:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-right-big:before { content: '\e803'; } /* '' */
.icon-desktop:before { content: '\e807'; } /* '' */
.icon-align-justify:before { content: '\e806'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */