
.icon-music:before { content: '\e800'; } /* '' */
.icon-t-shirt:before { content: '\e81d'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-bookmark:before { content: '\e821'; } /* '' */
.icon-lightbulb-1:before { content: '\e827'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-right-big:before { content: '\e803'; } /* '' */
.icon-cw:before { content: '\e822'; } /* '' */
.icon-ccw:before { content: '\e823'; } /* '' */
.icon-desktop:before { content: '\e807'; } /* '' */
.icon-align-justify:before { content: '\e806'; } /* '' */
.icon-off:before { content: '\e824'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-rdio:before { content: '\e826'; } /* '' */
.icon-eye-1:before { content: '\e825'; } /* '' */
.icon-music-1:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-mail-alt:before { content: '\e820'; } /* '' */
.icon-eye:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e81f'; } /* '' */
.icon-cup:before { content: '\e81e'; } /* '' */
.icon-trash:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e817'; } /* '' */
.icon-clock:before { content: '\e816'; } /* '' */
.icon-lightbulb:before { content: '\e815'; } /* '' */
.icon-cd:before { content: '\e814'; } /* '' */
.icon-globe:before { content: '\e813'; } /* '' */
.icon-cloud:before { content: '\e812'; } /* '' */
.icon-fire:before { content: '\e811'; } /* '' */
.icon-graduation-cap:before { content: '\e810'; } /* '' */
.icon-key:before { content: '\e80f'; } /* '' */
.icon-beaker:before { content: '\e818'; } /* '' */
.icon-truck:before { content: '\e819'; } /* '' */
.icon-food:before { content: '\e81a'; } /* '' */
.icon-shop:before { content: '\e81b'; } /* '' */
.icon-diamond:before { content: '\e81c'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */